{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="mt-4">
    <button class="btn btn-info m-2 ">{{ button_label|default('Save') }}</button>
    <a class="btn btn-outline-secondary m-2" href="{{ path('to_do_list_index') }}">back to list</a>
</div>
{{ form_end(form) }}
